* {
  margin: 0;
  padding: 0;
}

body {
  height: 5555px;
}

.img-model {
  width: 200px;
  display: block;
  margin: 0px auto;
}

.text-1 {
  font-family: "Marck Script", cursive;
}

.h3-judul {
  color: rgb(106, 5, 116);
  font-weight: 700;
  margin-bottom: 8px;
}

#about {
  margin-top: 150px;
}

.img-about {
  width: 100%;
}

.about-p {
  margin-top: 100px;
}

#love {
  margin-top: 150px;
}

#achievement {
  margin-top: 150px;
}

#gallery {
  margin-top: 150px;
}

.marquee {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.marquee-h1 {
  color: white;
  font-size: 100px;
  line-height: 842px;
  text-transform: uppercase;
}

.img-achicment {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.text-achievment {
  margin-top: 32px;
}

.love-icon {
  color: red;
}

@media (max-width: 425px) {
  .img-model {
    margin-top: 32px;
    border-radius: 15px;
  }

  .img-about {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .akhir-1 {
    margin-bottom: 24px;
  }

  .about-p {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .img-model {
    margin-top: 32px;
    border-radius: 15px;
  }

  .img-about {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .marquee-h1 {
    color: white;
    line-height: 842px;
  }

  .about-p {
    margin-top: 20px;
  }
}

#lagu {
  background-color: transparent;
}

#gift {
  margin-top: 100px;
  margin-bottom: 80px;
}

.gift-item {
  color: rgb(106, 5, 116);
  font-weight: 700;
  font-size: 24px;
}
